<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="IOSTConnectionString" connectionString="Data Source=tcp:iost.database.windows.net,1433;Initial Catalog=IOST;Persist Security Info=True;User ID=warmhole;Password=Iost@azure"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
          name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <system.web>
    <compilation debug="true" targetFramework="4.6.1" />
  </system.web>
  <system.serviceModel>
    <services>
      <service name="WCFServiceWebRole1.Service1">
        <endpoint behaviorConfiguration="webBehavior" binding="webHttpBinding" contract="WCFServiceWebRole1.IService1" />
      </service>

    </services>
    <behaviors>
      <endpointBehaviors>
        <behavior name="webBehavior">
          <webHttp />
        </behavior>
      </endpointBehaviors>

      <serviceBehaviors>
        
        <behavior>
          <!-- Para evitar a divulgação de informações de metadados, defina o valor abaixo como false antes da implantação -->
          <serviceMetadata httpGetEnabled="true"/>
          <!-- Para receber os detalhes de exceção de falhas para fins de depuração, defina o valor abaixo como true. Defina como false antes da implantação para evitar a divulgação de informações de exceção -->
          <serviceDebug includeExceptionDetailInFaults="false"/>
        </behavior>
      </serviceBehaviors>
    </behaviors>
    <serviceHostingEnvironment multipleSiteBindingsEnabled="true" />
  </system.serviceModel>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true"/>
    <!--
        Para navegar pelo diretório raiz do aplicativo Web durante a depuração, defina o valor abaixo como true.
        Defina como false antes da implantação para evitar a divulgação de informações de pasta do aplicativo Web.
    -->
    <directoryBrowse enabled="true"/>
  </system.webServer>

</configuration>
